.footer {
  background-color:black;
  color: #ffffff;
  padding: 40px 20px;
  font-family: 'Arial', sans-serif;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 30px;
}

.footer-logo img {
  width: 120px;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 14px;
  color: #ccc;
}

.footer-social h4,
.footer-app h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  background-color: rgb(0, 26, 255);
  font-size: 20px;
  transition: color 0.3s ease;
  padding:15px;
  border-radius: 50%;
  transition: transform 2s ease;
}
.social-icons a:hover{
    background-color:white;
    color:rgb(0, 26, 255);

}
.social-icons {
  display: flex;
  gap: 15px; 
}

.footer-app .qr-code {
  width: 100px;
  margin-top: 10px;
}
.qr{
    width:100px;
    height:100px;
    background-color: white;
}
.footer-app p {
  padding-top: 10px;
  font-size: 14px;
  color: #ccc;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
}

.footer-links {
  margin-block: 10px;

}

.footer-links a {
  margin: 0 10px;
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}

.footer-bottom p {
  font-size: 13px;
  color: #aaa;
}
