*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
#welcome-section,
#service,
#contact {
  scroll-margin-top: 100px; /* adjust based on header height */
}
.ramabhadra-regular {
  font-family: "Ramabhadra", sans-serif;
  font-weight: 400;
  font-style: normal;
}



html[lang="kn"] body {
   font-family: "Noto Sans Kannada", sans-serif !important;
   font-weight: 700;
}

html[lang="te"] body {
   font-family: "Noto Sans Kannada", sans-serif !important;
   font-weight: 700;
}
